
f5-tts
fastapi
faster-whisper
ffmpy

google-ai-generativelanguage

google-genai

gradio
gradio_client

ollama
omegaconf

platformdirs
playsound

pydantic
pydantic_core
python-dotenv
soundfile
torch
torch-einops-utils
torchaudio
torchcodec
torchdiffeq


uvicorn
